@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}


/* ///////////////////// */


body{
    font-family: "Alexandria", sans-serif;
    font-size: 16px;
    color: #999999;
    background-color: black;
    line-height: 150%;
}
img{
    max-width: 100%;
}

h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    color: #E5E5E5;
}
h2{
    color: #E5E5E5;
    font-size: 48px;
    line-height: 100%;
}
h3{
    color: #E5E5E5;
    font-size: 20px;
}
a{
    font-size: inherit;
    color: inherit;
}
.green{
    color: #9DFF3A;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.block{
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 10px 12px;
    border: 1px solid #4D4D4D;
    border-radius: 24px;
}
.btn{
    padding: 10px 24px;
    background-color: #9DFF3A;
    color: black;
    border-radius: 40px;
    width: fit-content;
}
.btn_transparrent{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid #4D4D4D;
    padding: 15px 30px;
}
.view{
    display: none;
}
.active{
    color: #E5E5E5;
}
.block{
    font-size: 14px;
}







.header{
    padding: 30px 0;
}

.header_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_links{
    display: flex;
    gap: 40px;
}
.header_log{
    display: flex;
    align-items: center;
    gap: 40px;
}





.hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

}

.hero_txt{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 620px;
}

.hero_btn{
    display: flex;
    gap: 20px;
}





.partner_title{
    text-align: center;
    margin-bottom: 40px;
}

.partner_wrapper{
    display: flex;
    justify-content: center;
    gap: 72px;
}









@media (max-width: 510px) {
    
    .view{
        display: block;
    }
    .none{
        display: none;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 28px;
    }
    .btn{
        font-size: 16px;
        padding: 14px 24px;
    }


    /* hero  */
    .hero .container{
        flex-direction: column;
        gap: 35px;
        margin-top: 20px;
    }
    .hero_txt{
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .hero_btn{
        flex-direction: column;
        align-items: center;
    }
    /* hero  */

    /* partner  */
    .partner_wrapper{
        flex-wrap: wrap;
        gap: 20px;
    }
    .partner_box img{
        width: 100px;
    }
    /* partner  */
}