@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/* ///////////////////// */


body {
    font-family: "Alexandria", sans-serif;
    font-size: 16px;
    color: #999999;
    background-color: black;
    line-height: 150%;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    color: #E5E5E5;
}

h2 {
    color: #E5E5E5;
    font-size: 48px;
    line-height: 100%;
}

h3 {
    color: #E5E5E5;
    font-size: 20px;
}

a {
    font-size: inherit;
    color: inherit;
}

.green {
    color: #9DFF3A;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.block {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 10px 12px;
    border: 2px solid #4D4D4D;
    border-radius: 24px;
}

.btn {
    padding: 10px 24px;
    background-color: #9DFF3A;
    color: black;
    border-radius: 40px;
    width: fit-content;
}

.btn_transparrent {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid #4D4D4D;
    padding: 15px 30px;
}

.view {
    display: none;
}

.active {
    color: #E5E5E5;
}

.block {
    font-size: 14px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}






.header {
    padding: 30px 0;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_links {
    display: flex;
    gap: 40px;
}

.header_log {
    display: flex;
    align-items: center;
    gap: 40px;
}





.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;

}

.hero_txt {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 620px;
}

.hero_btn {
    display: flex;
    gap: 20px;
}



.partners {
    background-color: #0F0F0F;
    padding: 40px 0;
}

.partner_title {
    text-align: center;
    margin-bottom: 40px;
}

.partner_wrapper {
    display: flex;
    justify-content: center;
    gap: 72px;
}






.stats {
    padding: 120px 0;
    background-color: #0F0F0F;
    margin-bottom: 50px;
}

.stats_wrapper {
    display: flex;
    justify-content: center;
    gap: 72px;
    margin-top: 50px;
}

.stats_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.stats_box p {
    font-size: 20px;
}




.feature {
    padding: 80px 0;
}

.feature_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.feature_wrapper_box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.feature_box {
    display: flex;
    align-items: start;
    gap: 30px;
    padding: 30px 20px;
    border: 1px solid #4D4D4D;
    border-radius: 20px;
    background-color: #0F0F0F;
    max-width: 600px;
}

.feature_txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.testimonial {
    background-color: #0F0F0F;
    padding: 80px 0;
    margin-bottom: 50px;
}

.testimonial_wrapper {
    margin-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.testimonial_box {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    color: #E5E5E5;
    border: 1px solid #4D4D4D;
    border-radius: 16px;
    background-color: #000000;
}

.autor {
    display: flex;
    align-items: center;
    gap: 16px;
}

.autor_spec {
    color: #4D4D4D;
    font-size: 12px;
}




.answers {
    margin-bottom: 50px;
}

.answers_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.answers_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    width: 100%;
    color: #E5E5E5;
    border: 1px solid #2E2E2E;
}







.revolutionary {
    padding: 80px 0;
    background-color: #0F0F0F;
    margin-bottom: 50px;
}

.square_btn {
    border-radius: 0;
}

.footer_main {
    padding: 80px 0;
    /* border-bottom: 1px solid #999999; */
}

.footer_main .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_inp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #999999;
}

input {
    background-color: transparent;
}

.footer_bottom .container {
    text-align: center;
    padding: 10px;
}



@media (max-width: 1024px) {
    h1 {
        font-size: 50px;
    }

    .hero .container {
        flex-direction: column;
        gap: 20px;
    }

    .feature_wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .feature_box {
        width: 100%;
    }

    .testimonial_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_main .container {
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 510px) {
    body {
        line-height: 130%;
    }

    .view {
        display: block;
    }

    .none {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .btn {
        font-size: 16px;
        padding: 14px 24px;
    }

    .block {
        padding: 12px 20px;
        font-size: 16px;
    }

    /* hero  */
    .hero .container {
        flex-direction: column;
        gap: 35px;
        margin-top: 20px;
        padding: 20px 0;
    }

    .hero_txt {
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero_btn {
        flex-direction: column;
        align-items: center;
    }

    /* hero  */

    /* partner  */
    .partner_wrapper {
        flex-wrap: wrap;
        gap: 25px;
    }

    .partner_box img {
        width: 100px;
    }

    /* partner  */

    /* stats */
    .stats_wrapper {
        flex-direction: column;
        gap: 24px;
    }

    .stats_box h2 {
        font-size: 50px;
    }

    .stats_box p {
        font-size: 25px;
    }

    /* stats */

    /* feature */
    .feature_wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .feature_box {
        padding: 24px 20px;
        width: 100%;
    }

    /* feature */



    /* testimonial  */
    .testimonial_wrapper {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .testimonial_box {
        font-size: 16px;
        /* padding: 40px; */
    }

    /* testimonial  */

    .footer_main .container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        align-items: center;
    }
}